html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#homeBtn {
  position: absolute;
  top: 1em;
  left: 2em;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 15pt;
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
  color: darkcyan;
}

a:hover {
  font-weight: bold;
  color: gold;
  text-transform: uppercase;
}